*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store

/captures
.externalNativeBuild
.idea/
gradle.properties
gradle/
gradlew
gradlew.bat
/app/build/
build/
src/main/AndroidManifest.xml
src/main/java/
